services:
  - type: web
    name: trying-haskell
    env: docker
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 3000
    healthCheckPath: /health

